

#signupButton {
    -fx-min-width: 100px;
    -fx-background-color: #1ed760;
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
    -fx-cursor: hand;
    -fx-background-radius: 9999;
    -fx-padding: 10 30;
    -fx-font-size: 12px;
    -fx-letter-spacing: 1.4;
}

#signupButton:hover {
    -fx-background-color: #1fdf64;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0, 0, 4);
}

#signupButton:pressed {
    -fx-background-color: #169c46;
}
