@font-face {
    src: url('fonts/SVN-Canopee.otf');
}

@font-face {
    src: url('fonts/SpaceMono-Regular.ttf');
}

.root {
    -fx-background-color: #2a475e;
    -fx-font-family: "Space Mono";
    -fx-text-fill: #c7d5e0;
    -fx-font-size: 10;
}

.label,
.check-box {
    -fx-text-fill: #c7d5e0;
}

.loginTitle {
    -fx-font-family: "SVN-Canopee";
    -fx-text-fill: #c7d5e0;
    -fx-alignment: center;
    -fx-font-size: 50.0;
}