.root {
        -fx-background-color: #2a475e;
}

#titleLabel {
    -fx-font-family: SVN-Canopee;
    -fx-text-fill: #c7d5e0;
    -fx-alignment: center;
}

#titleText {
    -fx-font-family: "Space Mono";
    -fx-text-fill: #c7d5e0;
    -fx-alignment: center;
}
